html, body {
  height: 100%;
}

body {
  background-color: #F0F0F0;
  width: auto;
  display: grid;
  margin: 0;
  grid-template-rows: 200px 1fr 200px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

header {
  background: gray;
  grid-row: 1/2;
  display:grid;
  grid-template-rows: 1fr 50px;
}
.top-row {
  grid-row: 1/2;
}

.logo {
  width:100px;
  height:auto;
}

.menu {
grid-row: 2/3;
background: rgb(77, 76, 76);
display: flex;
justify-content: space-around;
}

main {
  grid-row: 2/3;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 320px 640px 1fr;
  background-image: url("images/ocean.jpg");
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.picture {
  grid-column: 2/3;
  background: navy;
}

.information {
  grid-column: 3/4;
  background: navy;
}

.background {
  grid-column: 1/2;
}

footer {
  background: goldenrod;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: .8em;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  font-style: bold;
  color: maroon;
}

h2 {
  font-style: italic;
}

div, h5 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.legal {
  font-size: 10px;
}

.buttons {
  font-style: bold;
  font-family: I Arial, Helvetica, sans-serif;
}

.fit-picture {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: auto;
  border: 5px solid maroon;
}

a {
  color: peru;
  text-decoration: none;
}