
html, body {
    height:100%;
}

body{
    background-color: #F0F0F0;
    width: auto;
    display: grid;
    margin: 0;
    grid-template-rows: 200px 1fr 200px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

header {
    background:gray;
    grid-row: 1/2;
}

main {
    background:violet;
    grid-row: 2/3;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 320px 640px 1fr;
}

.picture {
    grid-column: 2/3;
}

.information {
    grid-column: 3/4;
}

footer {
    background:red;
    grid-row: 3/4;
}

h1 {
    font-size: 50px;
    font-style: bold;
    color:purple;
}

h2 {
    font-style: italic;
}

div, h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }

p {
        font-family: Arial, Helvetica, sans-serif;
}

 .legal {
     font-size: 10px;
     text-align: center;
 }

 .buttons {
     font-style: bold;
     text-align: center;
     font-family: I Arial, Helvetica, sans-serif;
 }

.fit-picture {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
    border: 5px solid purple;
}

a {
    color:peru;
    text-decoration: none;
}